<br><br><br><br><br><br><br>

<div class="container">

    <div class="listWrap">
        <h3 style="padding-left:450px;color:black; font-weight: bold;font-family:sans-serif;">ADD TEACHER</h3>
        <br>
        <ul class="list">
        
            <li>
                <form>
                    <div class="form-group">
                      <label for="teacher_id">ID:</label>
                      <input type="teacher_id" [(ngModel)]="teacher.teacher_id" placeholder="ID" name="teacher_id" class="form-control" id="teacher_id">
                    </div>
                  
                    <div class="form-group">
                      <label for="teacher_fname">First Name:</label>
                      <input [(ngModel)]="teacher.teacher_fname" placeholder="First Name" name="teacher_fname" class="form-control" id="teacher_fname">
                    </div>
                  
                    <div class="form-group">
                      <label for="teacher_lname">last Name:</label>
                      <input [(ngModel)]="teacher.teacher_lname" placeholder="last Name" name="teacher_lname" class="form-control" id="teacher_lname">
                    </div>
                    <div class="form-group">
                      <label for="student_email">email:</label>
                      <input [(ngModel)]="teacher.teacher_email" placeholder="email" name="teacher_email" class="form-control" id="teacher_email">
                    </div>
                  
                    
                    <button *ngIf="classId" class="btn btn-success" (click)="addTeacher()">Add</button>
                    <button *ngIf="!classId" class="btn btn-success" (click)="updateTeacher()">Update</button>
                  </form>
            </li>
           
           

            
            
        </ul>

    </div>

</div>
